@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* BODY */

body{
    background-color: rgb(77, 174, 48);
    position: relative;
    width: 100%;
    padding-bottom: 800px;
    padding-top: 200px;
    min-height: 100vh;
}


/* HEADER */

header{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100px;    
    background-color: white;    
    justify-content: space-between;
    align-items: center; 
}




/* FOOTER */

footer{
    position: absolute;
    bottom: 0;
    background-color: blue;
    display: flex;
    align-items: end;
    width: 100%;
    min-height: 100px;
}
footer .redes-volver{
    float: left;
    width: 50%;
    background-color: rgb(77, 174, 48);
    padding: 5px;
    list-style: none;
    text-align: center;
    
    padding: 15px;    
}
footer .redes-volver a{    
    padding: 15px;   
    margin: 15px 0px;
}
footer .redes-volver a img{
    padding: 20px 0px;
}

footer .mapa{
    width: 50%;
    background-color: red;
    padding: 30px;
    padding-left: 150px;
}

footer .datos-contacto{
    width: 50%;
    background-color: purple;
    padding: 50px;
}

/* NAV */

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;  
     
}

.items-nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

nav a{
    height: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 600;
    padding: 10px;   
}
nav a:hover{
    color: white;
}
nav > ul{
    height: 100%;
    display: flex;
    margin: 0 150px;
}
nav > ul > li{
    height: 100%;
    width: 200px;
    justify-content: space-between;
    margin: 0 50px;
    list-style: none;
    position: relative;
}
nav ul li:hover .inscripcion{
    background-color: rgb(68,172,204);
}
nav ul li .inscripcion{
    background-color: rgb(68,172,204);
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
}

nav > ul > li > a:hover{
    transform: scale(1.2);
    font-size: 18px;
    background-color: rgb(77, 174, 48);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

nav ul li ul li a{
    display: block;
    color: black;
    padding: 5px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    transform: scale(1.1);
    font-size: 18px;
}

nav ul li ul {
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 174, 48);
    box-shadow: 0px  0px 10px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 60px;
    padding: 14px 0px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 65px;
}
/* DIVS */



.logo{
    width: 100%;
    height: 100px;
    display: flex;  
    margin-top: 15px; 
}
.logo img{
    width:"120px";
    height:"120px";
    margin-left: 80px;   
}
.logo p{
    margin-top: 20px;
    width: 50%;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}

.barra_navegacion{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    background-color: rgb(77, 174, 48);
}

/* REGISTER */

.formulario{
    border-radius: 15px;
    align-items: center;
    height: 50%;
    width: 50%;
    margin-top: 100px;  
    margin-left: 25%;  
    background-color: rgb(77, 174, 48);
    font-size: 20px;
    font-weight: 500;
}

.formulario .titulo{
    border-radius: 15px 15px 0px 0px;
    height: 60px;    
    background-color: rgb(68,172,204);
    padding-top: 15px;
}

.formulario .titulo h3{
    text-align: center;  
}

.formulario form{
    padding: 30px;
}
.formulario form .mb-3 .enviar{
    color: black;
}


/* DARKMODE */
html.dark-mode{
    filter: invert(100%)
}

html.dark-mode .logo img{
    filter: invert(100%);
}

html.dark-mode .barra_navegacion .barra_navegacion{
    filter: invert(100%);
}